modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server.js"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 37407
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
